* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: solid 1px #ccc;
    padding: 0.5rem 1rem;
}

.icon-wrapper {
    background-color: #ccc;
    border-radius: 50%;
    height: 3rem;
    padding: 0.25rem;
    width: 3rem;
}

.icon-wrapper svg {
    height: 100%;
    width: 100%;
}